* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
}

button {
  background: none;
  outline: none;
  border: none;
}

#app {
  position: fixed;
  inset: 0;

  display: flex;
}

.div_SyrVmxJ {
  width: 60px;
  height: 100%;

  overflow-y: auto;
  scrollbar-width: none;
}

.div_QMGPMAl {
  flex: 1;
  overflow: hidden;
  background: #000000;

  & video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.div_nOoR3aw {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.button_3c7P4bO {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  &.focus {
    background: #ffffff;
  }

  & img {
    width: 20px;
    height: 20px;
  }
}
